.text {
    float: right;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.redtext {
    float: right;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
    color: red;
}

.column_page_base {
    float: left;
    padding: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 900px) {
    .column_page_base {
        width: 100%;
    }
}

.column_page_2 {
    width: 43%;
}

.column_page_3 {
    width: 30%;    
}

.column_home {
    width: 45%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    margin-top: 40px;
}

.jp {
    position: absolute;
    top: 51vh;
    left: 41vw;
    height: 35vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.photo_home {
    box-shadow: -10px  -10px;
    max-height: 40vw;
    float: left;
}

.photo_page {
    box-shadow: -10px  -10px;
    margin: 10px 0px;
}

.list {
    list-style-type: none;
}

.item {
    float: right;
}

.links_base {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
}

.links_home {
    font-size: 2.5em;
    font-weight: 300;
    text-align: right;
    float: right;
}

.links_page {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 100;
}

.h1 {
    margin: 0px;
}

.section {
    height: 100%;
    margin: 20px 20px 0px 0px;
}

@media only screen and (min-width: 1300px) {
    .column_home {
        float: left;
    }

    .photo_home {
        position: relative;
    }
}

@media only screen and (max-width: 1300px) {
    .column_home {
        width: 100%;
        padding-top: 0px;
        padding-right: 40px;
        margin-top: 30px;
    }

    .jp {
        top: 14vh;
        left: 55vw;
        height: 30vw;
    }

    .section {
        margin: 0px 0px 0px 0px;
    }
    
    .links_home {
        font-size: 2.0em;
    }
}

@media only screen and (max-width: 900px) {
    .links_home {
        font-size: 1.5em;
    }
}